@import url(./variables.css);
@import url(./queries.css);

@font-face {
  font-family: "Youtube Sans";
  src: url("../assets/fonts/youtube-sans-cdnfonts/YouTubeSans*.otf")
    format("otf");
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--text-color);
  background-color: var(--primary-color);
}

body {
  min-width: 390px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

svg {
  cursor: pointer;
  background-color: transparent !important;
  fill: var(--text-color);
}

.svg {
  width: 24px;
  height: 24px;
  background-color: transparent !important;
}
.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
}
.svg-container:hover {
  background-color: var(--hover-buttons-color) !important;
  border-radius: 50% !important;
}

input:focus {
  outline: none;
}
/* Header */
.header {
  position: sticky;
  top: 0;
  min-width: inherit;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.header-container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__youtube,
.buscador,
.iconos__derecha {
  height: 40px;
}

/* logo youtube */
.logo__youtube {
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 1.2rem;
}
.menu-container {
  padding: 8px;
  margin: 0 4px 0 0;
}

.logo-container {
  width: 100%;
  height: 100%;
  padding: 0 18px;
  display: flex;
  align-items: center;
}
.logo-container span {
  font-size: 0.8rem;
  font-weight: 100;
  padding-bottom: 15px;
}
.logo__youtube svg {
  width: 90px;
  height: 20px;
}

/* buscador */
.buscador {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.buscador input {
  margin-left: 32px;
  padding-left: 8px;
  min-width: 0;
  flex: 1;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-style: none;
  border-radius: 20px 0 0 20px;
  border: 1px solid rgba(128, 128, 128, 0.356);
}
.buscador button {
  border-radius: 0 20px 20px 0;
  width: 64px;
  height: 40px;
  border-style: none;
  border: 1px solid #8080805b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buscador button:hover {
  background-color: var(--hover-buttons-color);
  cursor: pointer;
}
.buscador button svg {
  border-radius: 50%;
}

.microphone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--buttons-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
.microphone div {
  border-radius: inherit;
  background-color: transparent;
}
.microphone div svg {
  background-color: inherit;
  border-radius: 50%;
}

/* iconos derecha */
.iconos__derecha {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.svg-container {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.me img {
  width: 38px;
  height: 38px;
  border-radius: 50px;
}
/* dark mode */
.dark-mode {
  max-width: 300px;
  max-height: 225px;
  position: absolute;
  top: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  border-radius: 12px;
  box-shadow: 0 0 24px #00000048;
}
.dark-mode-title {
  border-radius: 24px 24px 0 0;
  width: 100%;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  border-bottom: 1px solid #8f8f8f77;
}
.dark-mode-title h2 {
  font-size: 16px;
  line-height: 2.2rem;
  font-weight: 400;
}
.dark-mode span {
  padding: 10px;
  font-size: 12px;
  line-height: 2.2rem;
  font-weight: 400;
  color: var(--secondary-text-color);
  padding: 4px 36px 4px 16px;
}
.dark-mode p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2rem;
  width: 100%;
  padding: 4px 36px 4px 16px;
  padding-left: 40px;
  background-color: transparent;
}

.dark-mode p:hover {
  background-color: var(--buttons-color);
}

.hidden {
  display: none;
}

/* ------- CUERPO  -----  */
.cuerpo {
  width: 100%;
  max-width: 1100px;
  min-width: inherit;
  height: fit-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 24px;
  grid-auto-flow: column;
}

.video__principal {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  min-width: inherit;
  padding-right: 24px;
  height: fit-content;
}

.caja__secundaria {
  width: 100%;
  min-width: inherit;
  height: fit-content;
  grid-area: 1 / 2 / -1 / -1;
}

.comentarios {
  min-width: inherit;
  grid-area: 2 / 1 / 2 / 2;
  padding-right: 24px;
}

/* video player */
.video__principal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-container {
  position: relative;
  z-index: 10;
}

.video__principal img {
  max-width: 800px;
}
.logo-reproduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 50px;
  background-color: transparent;
}

.imgvideo {
  width: 100%;
  height: 100%;
}

/* titulo e informacion de canal y video*/
.titulo__video {
  width: 100%;
  height: 50px;
}
.titulo__video h1 {
  font-weight: 500;
  line-height: 2.8;
  font-size: 20px;
  margin: 10px 0;
  font-family: "YouTube Sans", sans-serif;
  font-family: "YouTube Sans Dark", sans-serif;
}

/* canal and video info */
.canal-info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 8px;
  overflow: hidden;
}

.canal-card,
.canal-buttons-card {
  width: 100%;
  height: 100%;
  margin: 12px 12px 12px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.canal-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}
.canal-name-card {
  margin-right: 24px;
}
.canal-name-card h3 {
  font-size: 16px;
}
.canal-name-card p {
  font-size: 12px;
  color: var(--text-color);
}
.button-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.button-container button {
  border-radius: 24px;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--text-color);
  color: var(--primary-color);
}

/* botones de canal y video acciones */
.likes-card,
.compartir-card,
.descargar,
.opciones-card {
  border-radius: 18px;
  background-color: var(--buttons-color);
  font-size: 16px;
  width: fit-content;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  margin-right: 4px;
  cursor: pointer;
}
.canal-buttons-card .svg {
  margin: 0 4px;
}
.canal-buttons-card::-webkit-scrollbar{
  display: none;
}
.likes-card {
  display: flex;
  background-color: var(--buttons-color);
}

.like-video {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 19px 0 0 18px;
  border-right: 2px solid var(--hover-buttons-color);
  padding: 0 12px;
  background-color: transparent;
}
.dislike-video {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 12px;
  width: 100%;
  height: 100%;
}

.like-video:hover {
  background-color: var(--hover-buttons-color);
  border-radius: 18px 0 0 18px;
}
.dislike-video:hover {
  background-color: var(--hover-buttons-color);
  border-radius: 0 18px 18px 0;
}
.compartir-card {
  padding: 0 12px;
}
.compartir-card:hover {
  background-color: var(--hover-buttons-color);
}
.descargar {
  padding: 0 12px;
}
.descargar:hover {
  background-color: var(--hover-buttons-color);
}
.opciones-card {
  width: fit-content;
  padding: 0;
  margin: 0;
}
.opciones-card .svg {
  margin: 4px 6px;
  border-radius: inherit;
  background-color: transparent;
}
.opciones-card:hover {
  border-radius: 50%;
  background-color: var(--hover-buttons-color);
}
/* descripcion y reproduciones del video y canal */
.canal-descripcion {
  width: 100%;
  height: fit-content;
  font-size: 14px;
  margin: 12px 12px 0 0;
  padding: 12px;
  line-height: 1.2rem;
  font-weight: 500;
  border-radius: 12px;
  background-color: var(--buttons-color);
}

.canal-descripcion:hover {
  background-color: var(--hover-buttons-color);
}

.canal-descripcion span {
  color: var(--blue-color);
  background-color: transparent;
}
.canal-descripcion p {
  background-color: transparent;
}

/* comentarios */
.numero__comentarios {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 24px 0;
}
.numero__comentarios h4 {
  font-size: 16px;
  margin-right: 36px;
  font-weight: 400;
  line-height: 2.2rem;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sort h3 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 8px;
}

.primer__comentario {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
}
.comentario-foto img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 20px;
}
.main {
  width: 100%;
  height: auto;
  padding-right: 40px;
}
.main input {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  border-bottom-style: 3px solid black;
  border: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.main input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}
.publicar {
  font-size: 14px;
  margin-bottom: 1px;
  width: 100%;
  height: 20px;
}

.comentarios__agregados {
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.usuario {
  display: flex;
  flex-flow: row;
  font-size: 13px;
  margin-right: 8px;
  font-weight: 500;
  line-height: 1.8rem;
  white-space: nowrap;
}
.usuario .tiempo {
  margin-left: 4px;
  font-weight: 200;
  color: var(--secondary-text-color);
}

.texto {
  width: 100%;
  height: fit-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2rem;
}

.likes__comentario {
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.likes {
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: row;
}
.likes p {
  margin: 0 12px 0 4px;
}
.likes .svg {
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
}
.likes .svg:hover {
  background-color: var(--hover-buttons-color) !important;
}
.like,
.dislike {
  display: flex;
  align-items: center;
}

.likes-conteo {
  margin-right: 8px;
}
.responder {
  padding-left: 15px;
  font-size: 13px;
  line-height: 32px;
  font-weight: 500;
  padding: 0 12px;
}
.responder:hover {
  border-radius: 16px;
  background-color: var(--buttons-color);
}
.ver__mas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 18px 0 6px;
  border-radius: 25px;
}
.ver__mas:hover {
  background-color: var(--hover-blue-color);
}

.ver__mas p {
  cursor: pointer;
  font-weight: 500;
  line-height: 36px;
  font-size: 14px;
  background-color: inherit;
  border-radius: inherit;
  color: var(--blue-color);
}

.ver__mas svg {
  fill: var(--blue-color);
}

.loader {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  Caja Secundaria, videos recomendados */
.caja__secundaria {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* carousel recomendados */
.carousel {
  width: fit-content;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  overflow-x: scroll;
  margin: 0 8px;
  padding: 0 12px 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.slider::-webkit-scrollbar {
  display: none;
}

.arrow {
  padding: 6px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}
.arrow:hover {
  background-color: var(--hover-buttons-color);
}
.arrow div {
  width: 26px;
  border-radius: inherit;
}
.right div {
  transform: rotate(180deg);
}
.arrow div svg {
  background-color: inherit;
  border-radius: inherit;
}
.slider button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  margin: 8px 8px 8px 0;
  padding: 0 12px;
  height: 32px;
  border: none;
  white-space: nowrap;
  background-color: var(--buttons-color);
}
.slider .first-button {
  background-color: var(--text-color);
  color: var(--primary-color);
}
.slider button:hover {
  background-color: var(--hover-buttons-color);
}
.slider .first-button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

/* videos recomendados */
.video-recomendado {
  height: 94px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.cajavideo {
  width: 168px;
  height: 94px;
  margin-right: 8px;
  position: relative;
}
.cajavideo img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.time {
  position: absolute;
  bottom: 4px;
  right: 4px;
  border-radius: 4px;
  padding: 3px 4px;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0.35px;
  background-color: #000;
  color: #fff;
}

.titulo {
  font-size: 14px;
  margin: 0 0 4px;
  font-weight: 500;
}
.cajaTexto__secundario p {
  font-size: 12px;
  margin-top: 2px;
  white-space: nowrap;
  height: min-content;
  line-height: 1rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.cajaTexto__secundario div {
  display: flex;
}

.fecha::before {
  content: "";
  display: inline-block;
  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
  margin-bottom: 3px;
  margin-right: 4px;
  background-color: var(--secondary-text-color);
  width: 1px;
  height: 1px;
}
.cajaTexto__secundario div {
  width: 100%;
}
.cajaTexto__secundario div {
  display: flex;
  gap: 0.6rem;
}

.mostrar-mas {
  width: 100%;
  border-radius: 18px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #065fd4; */
  cursor: pointer;
  border: 1px solid var(--buttons-color);
}
.mostrar-mas p {
  color: var(--blue-color);
  background-color: inherit;
}

.mostrar-mas:hover {
  background-color: var(--hover-blue-color);
  /* background-color: #def1ff; */
}
