@import url(./variables.css);
@import url(./queries.css);

/* @import url('https://fonts.cdnfonts.com/css/youtube-sans'); */
                
@font-face {
  font-family: "Youtube Sans";
  src: url("../assets/fonts/youtube-sans-cdnfonts/YouTubeSans*.otf") format("otf");
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--primary-ligth-color);
}
.fa {
  color: #666565;
}
svg {
  cursor: pointer;
  background-color: inherit;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
}
.svg-container:hover {
  background-color: var(--hover-buttons-color) !important;
  border-radius: 50% !important;
}

input:focus {
  /* Opcion 1 */
  outline: 0;
  /* Opcion 2 */
  outline: none;
}
/* Header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.header-container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.svg {
  width: 24px;
  height: 24px;
  background-color: inherit;
}
.logo__youtube,
.buscador,
.iconos__derecha {
  height: 40px;
}

/* logo youtube */
.header-container .logo__youtube {
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 1.2rem;
}
.header-container .logo__youtube .menu-container {
  padding: 8px;
  margin: 0 4px 0 0;
}

.header-container .logo__youtube .logo-container {
  width: 100%;
  height: 100%;
  padding: 0 18px;
  display: flex;
  align-items: center;
}
.header-container .logo__youtube .logo-container span {
  font-size: 0.8rem;
  font-weight: 100;
  padding-bottom: 15px;
}
.header-container .logo__youtube svg {
  width: 90px;
  height: 20px;
}

/* buscador */
.header-container .buscador {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-container .buscador input {
  margin-left: 32px;
  padding-left: 8px;
  min-width: 0;
  flex: 1;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-style: none;
  border-radius: 20px 0 0 20px;
  border: 1px solid rgba(128, 128, 128, 0.356);
}
.header-container .buscador button {
  border-radius: 0 20px 20px 0;
  width: 64px;
  height: 40px;
  border-style: none;
  border: 1px solid #8080805b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container .buscador button:hover {
  background-color: #cecece;
  cursor: pointer;
}
.header-container .buscador button svg {
  border-radius: 50%;
}

.header-container .buscador .microphone {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--buttons-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
.header-container .buscador .microphone div {
  border-radius: inherit;
  background-color: inherit;
}
.header-container .buscador .microphone div svg {
  background-color: inherit;
  border-radius: 50%;
}

/* iconos derecha */
.header-container .iconos__derecha {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-container .iconos__derecha div {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .iconos__derecha #me {
  width: 38px;
  height: 38px;
  border-radius: 50px;
}








/* ------- CUERPO  -----  */
.cuerpo {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  padding: 24px;
  grid-auto-flow: column;
}

.video__principal{
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
    padding-right: 24px;
  height: fit-content;
}

.caja__secundaria{
  width: 100%;
  height: fit-content;
  grid-area: 1 / 2 / -1 / -1;
}

.comentarios{
  grid-area: 2 / 1 / -1 / 2;
  padding-right: 24px;
}

/* video player */
.cuerpo .video__principal{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cuerpo .video__principal div{
position: relative;
z-index: 10;
}

.cuerpo .video__principal img{
  max-width: 800px;
}
.cuerpo .video__principal .logo-reproduction{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 50px;
  background-color: transparent;
}

.cuerpo .video__principal .imgvideo {
  width: 100%;
  height: 100%;
}

/*---------Caja Comentarios-------*/
.cuerpo .titulo__video {
  width: 100%;
  height: 50px;
}
.cuerpo .titulo__video h1 {
  font-weight: 500;
  line-height: 2.8;
  font-size: 20px;
  margin: 10px 0;
  font-family: 'YouTube Sans', sans-serif;
  font-family: 'YouTube Sans Dark', sans-serif; 
  
}
.cuerpo .reproducciones {
  width: 100%;
  height: 54px;
  padding: 9px;
  display: flex;
  color: grey;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.cuerpo .reproducciones .fa {
  font-size: 23px;
  color: grey;
}
.cuerpo .numero {
  flex: 1 1 auto;
}
.cuerpo .likes {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}
.cuerpo .likes2 {
  display: flex;
}
.cuerpo .likes2,
.likes p {
  padding: 0 8px;
}
.cuerpo .likes2 .puntos {
  font-size: 30px;
  font-weight: bold;
}
.cuerpo .likes .subrayado {
  width: 150px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}


/* canal and video info */
.cuerpo .video__principal .canal-info {
  width: 100%;
  height:  auto;
  display: flex;
  margin-bottom: 5rem;
}

 .canal-card, .canal-buttons-card {
  width: 100%;
  height: 100%;
  margin: 12px 12px 12px  0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cuerpo .canal-info .canal-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.cuerpo .canal-info .canal-card .canal-name-card{
  margin-right: 24px;
}
.cuerpo .canal-info .canal-card .canal-name-card h3{
  font-size: 16px;
}
.cuerpo .canal-info .canal-card .canal-name-card p{
  font-size: 12px;
  color: var(--secondary-ligth-color);
}
.cuerpo .canal-info .canal-card .button-container{
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.cuerpo .canal-info .canal-card .button-container button{
  border-radius: 24px;
  color: var(--primary-ligth-color);
  padding: 8px 12px;
  background-color: var(--primary-dark-color);
}

/* botones de canal y video acciones */
.canal-buttons-card div{
  border-radius: 24px;
  background-color: var(--buttons-color);  font-size: 16px;
  width: fit-content;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  margin-right: 4px;
}
.likes-card, .compartir-card, .descargar{
  padding: 0 8px;
}

.canal-buttons-card .svg{
  width: 26px;
  height: 26px;
}

.canal-buttons-card .likes-card{
  display: flex;
  border-radius: 24px;
  background-color: var(--buttons-color);
}

.canal-buttons-card .likes-card .like{
  width: 100%;
  height: min-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: .9rem;
  border-radius: 0;
  border-right: 1px solid var(--hover-buttons-color);
  padding-right: 8px;
  background-color: inherit;
}
.canal-buttons-card .likes-card .dislike{
  background-color: inherit;
}

.canal-buttons-card .opciones-card{
  width: fit-content;
  padding: 0;
  margin: 0;
}
.canal-buttons-card .opciones-card .svg{
margin-left: 4px;
padding: 0;
}

.canal-buttons-card .opciones-card svg{
  border-radius: inherit;
  background-color: inherit;
}





.cuerpo .numero__comentarios {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.cuerpo .numero__comentarios .fa {
  margin-left: 50px;
}
.cuerpo .numero__comentarios h3 {
  margin-left: 10px;
  font-size: 16px;
  color: rgba(128, 128, 128);
}

.cuerpo .comentarios{
  border: 1px solid red;
}

.cuerpo  .comentarios .primer__comentario {
  width: 100%;
  display: flex;
}
.cuerpo
  
  .comentarios
  .primer__comentario
  .comentario__foto
__perfil {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}
.cuerpo  .comentarios .primer__comentario .comentario__texto {
  width: 100%;
  height: auto;
}
.cuerpo
  
  .comentarios
  .primer__comentario
  .comentario__texto
  input {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  border-bottom-style: 3px solid black;
  border: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.cuerpo
  
  .comentarios
  .primer__comentario
  .comentario__texto
  input:focus {
  outline: 0;
  border-bottom: 2px solid black;
}
.cuerpo
  
  .comentarios
  .primer__comentario
  .comentario__texto
  .publicar {
  font-size: 14px;
}
.cuerpo
  
  .comentarios
  .primer__comentario
  .comentario__texto
  .publicar {
  margin-bottom: 1px;
  width: 100%;
  height: 20px;
}
.cuerpo  .comentarios .comentarios__agregados {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 0;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__foto
__perfil {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .usuario {
  display: flex;
  flex-flow: row;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .usuario
  .canal-card {
  font-weight: bold;
  font-size: 15px;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .usuario
  .tiempo {
  color: gray;
  margin-top: 2px;
  margin-left: 10px;
  font-size: 14px;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .texto__comentado {
  width: 100%;
  height: auto;
  padding: 10px 0;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .likes__comentario {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: gray;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .likes__comentario
  p,
i {
  padding: 0 5px;
  font-size: 13px;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .likes__comentario
  .responder {
  padding-left: 30px;
  font-size: 13px;
  font-weight: bold;
}

.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .likes__comentario
  .likes__conteo {
  margin-right: 20px;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .ver__mas {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  color: blue;
}
.cuerpo
  
  .comentarios
  .comentarios__agregados
  .comentario__texto
  .ver__mas
  i {
  color: blue;
  padding: 0 15px;
}

/*  Caja Secundaria */
.cuerpo .caja__secundaria {
  border: 1px solid #09ff00;
  width: 100%;
  height: fit-content;
}
.cuerpo .caja__secundaria p {
  color: rgb(100, 94, 94);
}
.cuerpo .caja__secundaria .video__secundario {
  display: flex;
  width: 100%;
  height: 110px;
}
.cuerpo .caja__secundaria .video__secundario .cajavideo {
  width: 210px;
  height: 90px;
}
.cuerpo .caja__secundaria .video__secundario .cajavideo img {
  width: 100%;
  height: 100%;
}
.cuerpo .caja__secundaria .video__secundario .cajaTexto__secundario {
  padding: 0 7px 5px;
}
.cuerpo .caja__secundaria .video__secundario .cajaTexto__secundario h3 {
  font-size: 15px;
}
.cuerpo .caja__secundaria .video__secundario .cajaTexto__secundario p {
  font-size: 13px;
  margin-top: 2px;
}
