:root{
    --primary-color: #fff;
    
    --text-color: #000;
    --secondary-text-color: #606060;

    --buttons-color: #f2f2f2;
    --hover-buttons-color: #0000001a;
    
    --blue-color: #065fd4;
    --hover-blue-color: #def1ff;

}